<html>
  <head>
  <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <%- include('header') %>

    <div id="current-date">Current Date:</div>
    <br>
    <div>
      <input type="search" id="search-sku">
      <button id='search-sku-btn'>Add SKU</button>
    </div>

    <div id="result">
      
    </div>
      <table id="added-products" ></table>

    <script src="addskus.js"></script>
  </body>

</html>
