<html>
  <head>
  <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <nav>
      <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/addskus">Add SKUs</a> </li>
      </ul>
    </nav>

    <div id="current-date">Current Date:</div>
    <br>
    <div>
      <input type="search" id="search-sku">
      <button id='search-sku-btn'>Add SKU</button>
    </div>

    <div id="added-products"> 
    </div>

    <script src="addskus.js"></script>
  </body>

</html>
